body
{
    margin:0;

}
















.welcome-page
{
    width: 100%;
    height: 970px;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;



}

.header
{
    color:white;
    display: flex;
    border-bottom: white 1px solid;
    height: 108px;
    font-family: Arial;


}
.header a
{
    text-decoration: none;
    color:white;

}

.logo
{

flex:3;
    font-size: 30px;
    padding-left: 400px;
    padding-top:35px ;


}

.menu-wrapper
{
    display: flex;
flex:3;
    padding: 40px ;

}

.menu-wrapper a:hover
{
    color:black
}

.page-1
{
    width: 100%;
    text-align: center;

}
.title-container {
    display: inline-block;
    font-family: sans-serif;

    border:5px solid white;
    padding-left:50px;
    padding-right: 50px;
    position: relative;
    top:300px;
}
.title-container h1
{
    color:white;
    letter-spacing: 10px;
    font-size:60px;

}

.second-part
{
    margin-top:100px;

}
.second-part-header
{
    text-align: center;
}
.second-part-header h2
{

    display: block;
    font-family: sans-serif;
    font-size: 70px;
    font-weight: 200;



}
.second-part-header p
{
    color:#333;
    font-family: sans-serif;
    position: relative;
    bottom: 40px;
    font-size: 16px;
}


.pictures
{
    margin-top: 100px;
    display: flex;
    flex-direction: column;

}



.pictures-1
{
    display: flex;
    justify-content: center;
}
.pictures-2
{
    display: flex;
    justify-content: center;
    position: relative;
    bottom:4px;
}


.third-part-1
{
    display: flex;
    justify-content: center;
    margin-top:60px;
}


}
.third-part-button p{

    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;


}
.third-part-button a
{ display: inline-block;
    border:1px solid black;
    padding: 5px 25px;
    background: black;
    text-decoration: none;
    color: white;

}
.third-part-button a:hover
{
    color:black;
    background: white;

}


.third-part-2
{
    margin-top: 100px;
    display: flex;
    justify-content: center;


}



.third-part-header
{
    display: inline-block;
    border:3px solid black;
    background: black;
    padding:70px 120px;
}
.third-part-header h2 {
    font-family:sans-serif ;
    font-size:60px ;
    font-weight: 200;
    color: white;
}
.third-part-header a
{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 300;
    color:white;
}





























